
.cards__card-wrapper
{
  width: 90%;
  min-height: 140px;
  margin:0 auto;
  display: flex;

  border: 1px solid grey;
  border-radius: 15px;
  margin: 1rem auto;
}

/* Img */
.card__img-wrapper 
{
  width: 50%;
}

.card__img-wrapper img
{
  width: 100%;
}

.card__text-wrapper
{
  width: 50%;

  padding: .5em 1em;
}

.card__text-header /* Text inside the cards */
{
  height: 50%;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;

  font-size: 1rem;
}


.card__icons-wrapper /* Icons container */
{
  height: 50%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.icons__icon-wrapper /* Icons wrapper*/
{
  height: 20px;
  width: 20px;
}

.icons__icon-wrapper:nth-child(3),
.icons__icon-wrapper:nth-child(4)
{
  height: 20px;
  width: 20px;
}

.icons__icon-wrapper svg
{
  height: 100%;
}

.card__icons-wrapper a
{
  font-size: var(--tiny-font-size);
  text-decoration: none;
  color: inherit;
}

