
.cards__card-wrapper
{
  width: 100%;
  max-width: 200px;
  height: 200px;
  margin:0 auto;
  display: flex;
  position: relative;

  /* border: 1px solid grey; */
  border-radius: 15px;
  margin: 2rem auto;
  
  box-shadow: 1px 2px 12px black;
}

#card-button-info
{
  position: absolute;
  bottom: 10px;
  right: 42%;
  
  background-color: var(--dark-light);
  padding: .3em .5em;
  z-index: var(--z-off-canvas);
  border-radius: 5px;
  
  color:var(--grey-light);
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  cursor: pointer;
}

/* Img */
.card__img-wrapper 
{
  width: 100%;
}

.card__img-wrapper img
{
  width: 100%;
  height: 100%;
  object-position: center center;
  object-fit: cover;
}

/* Text wrapper */
.card__text-wrapper
{
  display:none;                                   /* Activar y desactivar el texto */
  width: 100%;
  padding: .5em 1em;
}

.card__text-header /* Text inside the cards */
{
  height: 50%;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;

  font-size: var(--small-font-size);
}

.card__text-header h4
{
  font-size: var(--normal-font-size);
}

.card__icons-wrapper /* Icons container */
{
  height: 50%;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.card_icons_skills
{
  width: 100%;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

.card_icons-git-deploy /* Icons deploy u github */
{
  width: 100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.card_icons_skills .icons__icon-wrapper /* first 3 skills */
{
  min-width: 2rem;
  min-height: 2rem;
}

.icons__icon-wrapper /* Icons wrapper*/
{
  height: 1.5rem;
  width: 1.5rem;
}

.card__icons-wrapper a
{
  font-size: var(--tiny-font-size);
  text-decoration: none;
  color: inherit;
}

